<?xml version="1.0" encoding="utf-8"?>
<Media Key="79dbba4b-25ef-4fdd-86a2-8ed4414c9951" Alias="aaron" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/aaron</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:38:30</CreateDate>
    <NodeName Default="aaron" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xedhtg5u/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>