<?xml version="1.0" encoding="utf-8"?>
<Media Key="5df61d57-5f70-4196-98cb-3b0d8274c1c1" Alias="backgroundimage" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/backgroundimage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-27T17:34:57</CreateDate>
    <NodeName Default="backgroundimage" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1dllb0yz/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>