<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f76ea41-96b7-4f34-8f84-939a4c5b33f4" Alias="brandon" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/brandon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:39:18</CreateDate>
    <NodeName Default="brandon" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wnlnjhnm/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>