<?xml version="1.0" encoding="utf-8"?>
<Media Key="a58f0ef1-1eca-4c56-9ba8-ba370bec43f4" Alias="carter" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/carter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:39:07</CreateDate>
    <NodeName Default="carter" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aozd0r4r/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>