<?xml version="1.0" encoding="utf-8"?>
<Media Key="16dfcf0e-1f81-461d-9ab9-0822776e2ba6" Alias="celebration img" Level="2">
  <Info>
    <Parent Key="74df0d90-93f0-40cb-aa85-ad28ac3da379">Services Details</Parent>
    <Path>/ServicesDetails/celebrationImg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:12:19</CreateDate>
    <NodeName Default="celebration img" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5rzh13e0/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>