<?xml version="1.0" encoding="utf-8"?>
<Media Key="69df2681-e874-4843-b751-f7e0501d190c" Alias="five stars" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/fiveStars</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-31T20:53:00</CreateDate>
    <NodeName Default="five stars" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/b1wjtxy3/rating.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>