<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c686f41-2294-4556-9786-e1e1a3804e83" Alias="herobackground" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/herobackground</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T17:18:27</CreateDate>
    <NodeName Default="herobackground" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wpjmu1up/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>