<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ea71458-5262-4c5b-b991-3a87f6304780" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-27T15:30:51</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>