<?xml version="1.0" encoding="utf-8"?>
<Media Key="23753c70-1471-4eb6-963e-e51bb3c17ad1" Alias="image3" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/image3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:36:09</CreateDate>
    <NodeName Default="image3" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qkanpqlk/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>