<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5bd2214-9ad0-4552-9751-c063d981eeac" Alias="image6" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/image6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:34:36</CreateDate>
    <NodeName Default="image6" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/20pb4j4l/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>