<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfe9647d-251b-4282-b300-b8c81d0b1e66" Alias="image2" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/image2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:36:15</CreateDate>
    <NodeName Default="image2" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r5mfwxia/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>