<?xml version="1.0" encoding="utf-8"?>
<Media Key="06dcb36d-f175-48e2-8b46-bdef81ca43b9" Alias="image1" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/image1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:36:23</CreateDate>
    <NodeName Default="image1" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t2hh3zdo/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>