<?xml version="1.0" encoding="utf-8"?>
<Media Key="33e49c0a-330e-42be-8768-4117bf8c7b3e" Alias="image5" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/image5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:35:47</CreateDate>
    <NodeName Default="image5" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5aqfnuiv/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>