<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0e39519-0422-4c1e-95e4-0d14fce25b8f" Alias="image4" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/image4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:36:02</CreateDate>
    <NodeName Default="image4" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3muecarz/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>