<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc394a5a-c8e2-4b7a-8274-299482fc2233" Alias="img1" Level="2">
  <Info>
    <Parent Key="e516d723-43f0-4906-8012-f0ea8a33f312">Services</Parent>
    <Path>/Services/img1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:08:59</CreateDate>
    <NodeName Default="img1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vd1jwhxz/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>