<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ea3c335-aee5-49ef-b61f-b640b0069451" Alias="img1" Level="2">
  <Info>
    <Parent Key="d077f0bd-67d4-44be-9fce-193e323d6fea">Projects Details</Parent>
    <Path>/ProjectsDetails/img1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:14:47</CreateDate>
    <NodeName Default="img1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y35adxh4/pj4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>