<?xml version="1.0" encoding="utf-8"?>
<Media Key="e48d62d9-264d-402a-a150-4267b2d84df3" Alias="img1" Level="2">
  <Info>
    <Parent Key="bbf9e762-7e87-40ed-8124-ba381a17ace4">Projects</Parent>
    <Path>/Projects/img1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:13:33</CreateDate>
    <NodeName Default="img1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fppd4bsw/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>