<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d7575fd-b5bb-4b84-8057-c8ae8cebf92b" Alias="img2" Level="2">
  <Info>
    <Parent Key="d077f0bd-67d4-44be-9fce-193e323d6fea">Projects Details</Parent>
    <Path>/ProjectsDetails/img2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:14:54</CreateDate>
    <NodeName Default="img2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b5eno53a/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>