<?xml version="1.0" encoding="utf-8"?>
<Media Key="83947e55-4cac-4a02-a0fe-2baa6dff5e71" Alias="img2" Level="2">
  <Info>
    <Parent Key="bbf9e762-7e87-40ed-8124-ba381a17ace4">Projects</Parent>
    <Path>/Projects/img2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:13:40</CreateDate>
    <NodeName Default="img2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u5bdmynx/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>