<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd53056a-eb8d-4852-8c02-d70eda8353b0" Alias="img3" Level="2">
  <Info>
    <Parent Key="bbf9e762-7e87-40ed-8124-ba381a17ace4">Projects</Parent>
    <Path>/Projects/img3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:13:49</CreateDate>
    <NodeName Default="img3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tc2pcl2w/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>