<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf009eb7-1357-413f-aa7b-d41385be3096" Alias="img3" Level="2">
  <Info>
    <Parent Key="d077f0bd-67d4-44be-9fce-193e323d6fea">Projects Details</Parent>
    <Path>/ProjectsDetails/img3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:15:01</CreateDate>
    <NodeName Default="img3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iurlexkm/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>