<?xml version="1.0" encoding="utf-8"?>
<Media Key="891b3faf-825a-47dd-80b8-bd7c05157dda" Alias="img3" Level="2">
  <Info>
    <Parent Key="e516d723-43f0-4906-8012-f0ea8a33f312">Services</Parent>
    <Path>/Services/img3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:09:27</CreateDate>
    <NodeName Default="img3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwbls00b/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>