<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7c608df-b56b-47d8-a3f8-96747886ee0e" Alias="img4" Level="2">
  <Info>
    <Parent Key="e516d723-43f0-4906-8012-f0ea8a33f312">Services</Parent>
    <Path>/Services/img4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:09:36</CreateDate>
    <NodeName Default="img4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fw0hivlq/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>