<?xml version="1.0" encoding="utf-8"?>
<Media Key="89bf7904-c09d-450e-95a3-47f37c05fb2b" Alias="img4" Level="2">
  <Info>
    <Parent Key="bbf9e762-7e87-40ed-8124-ba381a17ace4">Projects</Parent>
    <Path>/Projects/img4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:13:55</CreateDate>
    <NodeName Default="img4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/41cb002g/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>