<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1eea3a8-436e-49f4-9e82-e41772a60b68" Alias="img6" Level="2">
  <Info>
    <Parent Key="e516d723-43f0-4906-8012-f0ea8a33f312">Services</Parent>
    <Path>/Services/img6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:09:53</CreateDate>
    <NodeName Default="img6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lipeyu1v/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>