<?xml version="1.0" encoding="utf-8"?>
<Media Key="27824132-41f0-40ea-9739-c3d9c68432cf" Alias="kerr" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/kerr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:39:32</CreateDate>
    <NodeName Default="kerr" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yd4cbrpl/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>