<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2ac2957-244f-4884-988a-606950022ff3" Alias="kevingardner-bigpic" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/kevingardnerBigpic</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:42:00</CreateDate>
    <NodeName Default="kevingardner-bigpic" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwka2ucu/kevingardner-bigpic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>