<?xml version="1.0" encoding="utf-8"?>
<Media Key="32a3a3dd-765b-4c53-af33-454647c3ad63" Alias="kevingardner" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/kevingardner</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:37:33</CreateDate>
    <NodeName Default="kevingardner" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f2paduca/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>