<?xml version="1.0" encoding="utf-8"?>
<Media Key="52efe9b4-08b0-44e9-be32-4dcadd0b2326" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T17:54:54</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/izke1mfl/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>