<?xml version="1.0" encoding="utf-8"?>
<Media Key="f50bf001-b02e-4f68-8736-7663a32fdc6d" Alias="map" Level="2">
  <Info>
    <Parent Key="218eeaa0-0968-46b9-86e7-6c1bd2dbaeb5">Contact</Parent>
    <Path>/Contact/map</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:16:29</CreateDate>
    <NodeName Default="map" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4nglsfzv/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>