<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f7f2ca7-78d2-4356-be07-3e4403a3b918" Alias="meeting img" Level="2">
  <Info>
    <Parent Key="74df0d90-93f0-40cb-aa85-ad28ac3da379">Services Details</Parent>
    <Path>/ServicesDetails/meetingImg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:12:34</CreateDate>
    <NodeName Default="meeting img" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kwin1doj/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>