<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f8244df-e08c-46fc-bd3a-0a317f16c3c0" Alias="miranda" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/miranda</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:38:13</CreateDate>
    <NodeName Default="miranda" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fx2da5mx/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>