<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fc12cf9-4514-4b71-bfef-e5af4a1b8950" Alias="partners" Level="2">
  <Info>
    <Parent Key="218eeaa0-0968-46b9-86e7-6c1bd2dbaeb5">Contact</Parent>
    <Path>/Contact/partners</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T20:26:59</CreateDate>
    <NodeName Default="partners" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/boihhtip/partners.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>