<?xml version="1.0" encoding="utf-8"?>
<Media Key="5daa21b5-8ff5-476e-840c-268f491be3c4" Alias="Partners" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:32:08</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i4oarp5o/partners.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>