<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb77fcdd-8b75-41fc-a592-8f67a1e66a60" Alias="pj1" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:33:32</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f3ankwlo/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>