<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e1f2ccb-70ec-4769-9c4d-c32692dc649a" Alias="pj2" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/pj2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:33:24</CreateDate>
    <NodeName Default="pj2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hgil05hx/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>