<?xml version="1.0" encoding="utf-8"?>
<Media Key="2435e643-6f24-49ea-a7ef-aad21aea4fee" Alias="pj3" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/pj3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:33:15</CreateDate>
    <NodeName Default="pj3" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wfnjprr5/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>