<?xml version="1.0" encoding="utf-8"?>
<Media Key="e56b8519-38ec-4a47-ab93-844da35e9e9c" Alias="pj4" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:32:53</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3m2msb5x/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>