<?xml version="1.0" encoding="utf-8"?>
<Media Key="d077f0bd-67d4-44be-9fce-193e323d6fea" Alias="Projects Details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectsDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-31T15:14:15</CreateDate>
    <NodeName Default="Projects Details" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>