<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbf9e762-7e87-40ed-8124-ba381a17ace4" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-31T15:13:01</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>