<?xml version="1.0" encoding="utf-8"?>
<Media Key="74df0d90-93f0-40cb-aa85-ad28ac3da379" Alias="Services Details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-31T15:10:34</CreateDate>
    <NodeName Default="Services Details" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>