<?xml version="1.0" encoding="utf-8"?>
<Media Key="02841f86-d6b3-4ee8-846e-3332e53fd5ac" Alias="small-img" Level="2">
  <Info>
    <Parent Key="74df0d90-93f0-40cb-aa85-ad28ac3da379">Services Details</Parent>
    <Path>/ServicesDetails/smallImg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-31T15:11:35</CreateDate>
    <NodeName Default="small-img" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/osrcnyfi/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>