<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bed4581-3d8f-45c8-b681-a26ff8b23106" Alias="thewholesquad" Level="2">
  <Info>
    <Parent Key="6ea71458-5262-4c5b-b991-3a87f6304780">Home</Parent>
    <Path>/Home/thewholesquad</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:34:08</CreateDate>
    <NodeName Default="thewholesquad" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/op2e5kmu/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>