<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab72eba1-1441-48c6-8d5c-37c8c741b195" Alias="tinafox" Level="2">
  <Info>
    <Parent Key="e333ca3e-d77b-4029-9ef8-98b83732664d">About</Parent>
    <Path>/About/tinafox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:39:44</CreateDate>
    <NodeName Default="tinafox" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/knlnask0/tinafox-about.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>