<?xml version="1.0" encoding="utf-8"?>
<DataType Key="104d87e2-b2f6-4bff-9525-1a61e2ae0efc" Alias="Contact - Contact Form Description - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Contact - Contact Form Description - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>