<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38e23039-1443-45d6-b869-138f93e21358" Alias="Home Page - Services Image - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Services Image - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0c48f35a-bfaf-4d2e-9a75-a58875d5254f",
      "forceHideContentEditorInOverlay": false,
      "label": "Our Services Section Block",
      "editorSize": "medium"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 0,
    "max": 0
  }
}]]></Config>
</DataType>