<?xml version="1.0" encoding="utf-8"?>
<Content Key="d98fa65c-4970-4cf3-97ed-19c2bda48aef" Alias="Contact Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-09-22T15:40:46</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="77d0764a-dcc8-4a3a-adf9-9c8e946f01cd">contactUs</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[]]></Value>
    </contactForm>
    <contactFormDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </contactFormDescription>
    <contactFormHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactFormHeadline>
    <contactFormTitle>
      <Value><![CDATA[REQUEST A CALLBACK]]></Value>
    </contactFormTitle>
    <contactTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </contactTitle>
    <googleMap>
      <Value><![CDATA[https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.1133091730894!2d18.00076747781952!3d59.37033040773745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9dc632e678ff%3A0x4bb453ffd468743e!2sWestfield%20Mall%20of%20Scandinavia!5e1!3m2!1ssv!2sse!4v1727013695696!5m2!1ssv!2sse]]></Value>
    </googleMap>
  </Properties>
</Content>