<?xml version="1.0" encoding="utf-8"?>
<Content Key="23b5e86c-50c1-485a-82b8-6b336bb57fda" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-27T17:17:05</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5cb7be3a-6a1d-4d0d-8bbe-4600e94b7f31">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[We have over 25 years of experience providing expert financial advice to both businesses and individuals.]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "e6da5850-9713-4adc-b427-1e0b6d9a2656",
    "mediaKey": "4ab83bd2-109f-496c-9c21-b5f2d3ebc601",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <assuranceAuditsDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </assuranceAuditsDescription>
    <assuranceAuditsHeadline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </assuranceAuditsHeadline>
    <assuranceAuditsImage>
      <Value><![CDATA[[
  {
    "key": "04d49391-b55d-4273-a3fc-34f34214eef2",
    "mediaKey": "23753c70-1471-4eb6-963e-e51bb3c17ad1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </assuranceAuditsImage>
    <bondsDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </bondsDescription>
    <bondsHeadline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </bondsHeadline>
    <bondsImage>
      <Value><![CDATA[[
  {
    "key": "819af037-7991-4a9f-89a1-13f68a9654cf",
    "mediaKey": "bfe9647d-251b-4282-b300-b8c81d0b1e66",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bondsImage>
    <financialAdvisorDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </financialAdvisorDescription>
    <financialAdvisorHeadline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </financialAdvisorHeadline>
    <financialAdvisorImage>
      <Value><![CDATA[[
  {
    "key": "5522bba8-ed63-4eb4-9a40-446e8b95a9e3",
    "mediaKey": "33e49c0a-330e-42be-8768-4117bf8c7b3e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </financialAdvisorImage>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "5743d94b-a3eb-4656-93de-da26aadbd562",
    "mediaKey": "8c686f41-2294-4556-9786-e1e1a3804e83",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <ourStoryButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </ourStoryButtonText>
    <ourStoryButtonUrl>
      <Value><![CDATA[]]></Value>
    </ourStoryButtonUrl>
    <ourStoryDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </ourStoryDescription>
    <ourStoryHeadline>
      <Value><![CDATA[We are trusted by more than 4.000+ clients]]></Value>
    </ourStoryHeadline>
    <ourStoryImage>
      <Value><![CDATA[[
  {
    "key": "1feb08c8-97f9-4f40-a8f5-b5c834e162ba",
    "mediaKey": "4bed4581-3d8f-45c8-b681-a26ff8b23106",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourStoryImage>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <partnerLogotypes>
      <Value><![CDATA[[
  {
    "key": "7ca75009-1999-49ca-8642-181e5e5a798b",
    "mediaKey": "5daa21b5-8ff5-476e-840c-268f491be3c4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogotypes>
    <recentProjectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </recentProjectsHeadline>
    <recentProjectsImage1>
      <Value><![CDATA[[
  {
    "key": "4b9418fc-5b74-4b4c-838f-21fa2b480fa3",
    "mediaKey": "bb77fcdd-8b75-41fc-a592-8f67a1e66a60",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage1>
    <recentProjectsImage1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </recentProjectsImage1Headline>
    <recentProjectsImage1Subtitle>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsImage1Subtitle>
    <recentProjectsImage2>
      <Value><![CDATA[[
  {
    "key": "335bd787-b6eb-4a3b-b377-2e1e5f7e260c",
    "mediaKey": "9e1f2ccb-70ec-4769-9c4d-c32692dc649a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage2>
    <recentProjectsImage2Headline>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </recentProjectsImage2Headline>
    <recentProjectsImage2Subtitle>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsImage2Subtitle>
    <recentProjectsImage3>
      <Value><![CDATA[[
  {
    "key": "a7d0e289-6558-40cd-ac97-8e34c423aa24",
    "mediaKey": "2435e643-6f24-49ea-a7ef-aad21aea4fee",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage3>
    <recentProjectsImage3Headline>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </recentProjectsImage3Headline>
    <recentProjectsImage3Subtitle>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsImage3Subtitle>
    <recentProjectsImage4>
      <Value><![CDATA[[
  {
    "key": "c16991bf-b46b-46ee-b927-3ef6bc530c79",
    "mediaKey": "e56b8519-38ec-4a47-ab93-844da35e9e9c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage4>
    <recentProjectsImage4Headline>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </recentProjectsImage4Headline>
    <recentProjectsImage4Subtitle>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsImage4Subtitle>
    <recentProjectsTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </recentProjectsTitle>
    <riskManagementDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </riskManagementDescription>
    <riskManagementHeadline>
      <Value><![CDATA[Risk Management]]></Value>
    </riskManagementHeadline>
    <riskManagementImage>
      <Value><![CDATA[[
  {
    "key": "b15cbcc6-98b2-43b7-ba36-2e4493473953",
    "mediaKey": "06dcb36d-f175-48e2-8b46-bdef81ca43b9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementImage>
    <servicesHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </servicesHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesSectionTitle>
    <statisticAdvisorDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </statisticAdvisorDescription>
    <statisticAdvisorHeadline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </statisticAdvisorHeadline>
    <statisticAdvisorImage>
      <Value><![CDATA[[
  {
    "key": "e7d93a2a-9563-48a5-9170-5fee4853c6f5",
    "mediaKey": "c5bd2214-9ad0-4552-9751-c063d981eeac",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </statisticAdvisorImage>
    <success125>
      <Value><![CDATA[125]]></Value>
    </success125>
    <success125Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </success125Text>
    <success370>
      <Value><![CDATA[370]]></Value>
    </success370>
    <success370Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </success370Text>
    <success689>
      <Value><![CDATA[689]]></Value>
    </success689>
    <success689Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </success689Text>
    <successHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[[
  {
    "key": "1f51147b-51b6-49f8-8a88-39e5c64114e6",
    "mediaKey": "6e6fa6d2-27d1-414d-aebb-1ed120b6312b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successImage>
    <successTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successTitle>
    <taxTrustDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </taxTrustDescription>
    <taxTrustHeadline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </taxTrustHeadline>
    <taxTrustImage>
      <Value><![CDATA[[
  {
    "key": "5a560c3a-5adc-4a98-9080-474ec5314cf4",
    "mediaKey": "e0e39519-0422-4c1e-95e4-0d14fce25b8f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </taxTrustImage>
  </Properties>
</Content>