<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7a58b7e-f169-4070-b314-9491ba293ae9" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-09-01T13:47:45</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2536e817-bf58-4d90-94eb-c311e5cbf783">projects</Template>
  </Info>
  <Properties>
    <projectsdate1>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectsdate1>
    <projectsdate2>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectsdate2>
    <projectsdate3>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectsdate3>
    <projectsdate4>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectsdate4>
    <projectsDescription1>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsDescription1>
    <projectsDescription2>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsDescription2>
    <projectsDescription3>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsDescription3>
    <projectsDescription4>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsDescription4>
    <projectsHeadline1>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectsHeadline1>
    <projectsHeadline2>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectsHeadline2>
    <projectsHeadline3>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectsHeadline3>
    <projectsHeadline4>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectsHeadline4>
    <projectsImg1>
      <Value><![CDATA[[
  {
    "key": "01d9012b-2a53-4c51-bcdc-0c5fb8eeea32",
    "mediaKey": "e48d62d9-264d-402a-a150-4267b2d84df3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsImg1>
    <projectsImg2>
      <Value><![CDATA[[
  {
    "key": "276a6ec4-8e4f-4f17-973b-2a4b631a23f2",
    "mediaKey": "83947e55-4cac-4a02-a0fe-2baa6dff5e71",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsImg2>
    <projectsImg3>
      <Value><![CDATA[[
  {
    "key": "e92f7795-f0ad-4b7a-ab3f-10a13bb45c8d",
    "mediaKey": "cd53056a-eb8d-4852-8c02-d70eda8353b0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsImg3>
    <projectsImg4>
      <Value><![CDATA[[
  {
    "key": "deec15dd-6fb4-4c9f-a4b4-530c3993590b",
    "mediaKey": "89bf7904-c09d-450e-95a3-47f37c05fb2b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsImg4>
    <projectsReadmore1>
      <Value><![CDATA[Read more]]></Value>
    </projectsReadmore1>
    <projectsReadmore2>
      <Value><![CDATA[Read more]]></Value>
    </projectsReadmore2>
    <projectsReadmore3>
      <Value><![CDATA[Read more]]></Value>
    </projectsReadmore3>
    <projectsReadmore4>
      <Value><![CDATA[Read more]]></Value>
    </projectsReadmore4>
    <projectsTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </projectsTitle>
  </Properties>
</Content>