html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    flex: 1;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    p {
        margin: 0;
        font-size: 14px;
        font-family: Arial, sans-serif;
        text-align: left;
    }

    a {
        color: #e6b800;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
