@import '../colors/colors.scss';

.hero {
    position: relative;
    padding: 15px 0;

    .background {
        width: 100%;
        height: auto;
    }

    .container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero-content {
        position: absolute;
        bottom: 230px;
        left: 20px;
        transform: translateY(-50%);
        color: $white;


        .headline {
            font-size: 48px;
            color: $green-dark;
            margin-bottom: 20px;
        }

        .ingress {
            width: 50%;
            font-size: 18px;
            color: #666;
            margin-bottom: 30px;
        }

        .btn-primary {
            background-color: $green-dark;
            padding: 10px 20px;
            border: none;
            color: $white;
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: lighten($green-dark, 10%);
            }
        }
    }
}
